<!-- <button class="btn btn-outline-success" type="submit">Hide time</button> -->
<div class="row">
    <div class="col-sm-5" style="padding-right: 0;">
        <div class="container-fluid" style="border:5px solid #cecece;">
            <br>
            <p>Teachers’ salaries should be based on their students’ academic performance.</p>
        </div>
        <div class="container-fluid">
            <br>
            <p>Write a response in which you discuss the extent to which you agree or disagree with the statement
                and explain your reasoning for the position you take. In developing and supoorting your position,
                you should consider ways in which the statement might or might not hold true and explain how these
                considerations shape your position.</p>
        </div>
    </div>
    <div class=" col-sm-7" style="padding-left: 0;">
        <div class="container-fluid" style="border:5px solid #cecece;">
            <button type="button" class="btn-secondary" style="float: right;">Submit</button>
            <div class="container-fluid">
                <div class="form-group">
                    <textarea type="text" class="form-control" style="border: none; height: 80vh;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>