<div class="container">
    <h1>Category</h1>
    <p>Below is the different topics for GRE writing tests.</p>
    <div class="card-deck">
        <div class="card">
            <div class="card-body text-center">
                <h2 class=" card-text">Education</h2>
                <p> Education issues </p>
                <a href="/topic" class="btn btn-primary stretched-link">See More</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-text">Politics</h2>
                <p> Political issues </p>
                <a href="#" class="btn btn-primary stretched-link">See More</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-text">Science</h2>
                <p> Science Theory </p>
                <a href="#" class="btn btn-primary stretched-link">See More</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-text">Philosophy</h2>
                <p> Philosophy assumption </p>
                <a href="#" class="btn btn-primary stretched-link">See More</a>
            </div>
        </div>
    </div>
</div>