<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <div class="navbar-brand">Education</div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/essay" class="btn btn-outline-success" type="submit">Try it!</a>
            </li>
        </ul>
    </nav>

    <br> -->

<div class="container">
    <h1>Teachers’ salaries should be based on their students’ academic performance.</h1>
    <br>
    <p>There is definitely a connection between teachers and students. Teachers teach students. Also, that a student
        with better academic performace results from a teacher’s teaching. It is reasonable that, if a student
        performs well, a teacher is rewarded. However, it is not true that a student’s academic performance can be
        evaluated fairly if a teacher’s salary is connected to a student’s grade. Moreover, pursuing academic
        performance is killing students’ passion about their dreams because instructions will be test-oriented.
        Thus, I disagree with the statement.

        Students’ academic performance highly affects their career opportunities, and teachers should be rewarded if
        they teach their students well. One of students’ goals in schools is to land on a job after graduating from
        schools, and if schools can guarantee that they can get a job after accepting instruction by teachers,
        schools can attract more students, attracting more money. Schools should consider more compensation to their
        employees – teachers. Hence, it is convincing that teachers’ salaries are risen due to their efforts. On the
        other hand, the salaries of teachers who are not capable of teaching excellent students should be deducted.
        Because they are not making schools money. Accordingly, teachers’ salaries are related to students’ academic
        performance.

        However, the evaluation on students by teachers might not be authentic if teachers would be paid. For
        example, teachers can obtain more money only if they need to give their students A, then they will
        definitely give them A even though students should not get A. Some people might argue that schools can ask
        other employees or teachers to evaluate each other’s students, but they might work with each other behind
        the scene because they are co-workers and even friends. Even if they are not friends, and they are asked to
        do so, those teachers could not judge other teachers’ students’ performance correctly. So, teachers’
        salaries should not be relied on students’ performance because it is not appropriate for teachers to
        evaluate students’ academic performance.

        Futhermore, students might lose interest on some subjects if they are test-based because teachers would love
        their students to have better test results. If students are willing to spend more time on their interest, it
        is more likely that they can succeed in those matters. But if the subjects are all taught to pass finals,
        then students do not want to focus on them. More worse, the system is killing students’ passion, and they
        might not able to find their dreams again. For instance, one student is facinated by math, and he loves to
        discover mathematical theories and solve intriguing formula. His math teacher might not want him to spend
        too much time on solving problems, for his teacher wants him to do the problems fast and correctly,
        especially under the time pressure. So, this student might lose his interest on math and become a test
        machine just because if they have higher grades, their teachers get paid more. As a result, this salary
        policy might change instruction approaches, and students will be taught indifferently as to pass their
        exams.

        To conclude, teachers’ salaries should not be based on their students’ academic performance because it is
        impossible to define students’ academic fairly, and it is possible to elimate students’ learning interests.
    </p>
</div>

<div class="container">
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea type="text" class="form-control" rows="10" placeholder="Comment"></textarea>
    </div>
    <button type="button" class="btn-primary" style="float: right;">Submit</button>
</div>